.centered-flexed-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space-between-flexed {
  display: flex;
  justify-content: space-between;
}

.align-start-flexed {
  display: flex;
  align-items: flex-start;
}

.align-justify-center {
  align-items: center;
  justify-content: center;
}